<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template base</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'MarketPlace/css/mystyle.css' %}">
</head>
<body>
<div class="container,header">
    <header class="header">
        <h1 class="header-title">{% block header %}Este é o header (definido no template base){% endblock %}</h1>
    </header>
</div>
<div class="container">
    <nav>
        <ul>
            <li><a href="{% url 'MarketPlace:home' %}">Home</a></li>
        </ul>
    </nav>
    <main>
        {% block body %}

        {% endblock %}
    </main>
</div>
<footer>
    <p>&copy; 2024 MarketPlace. DIAM.</p>
</footer>
</body>
</html>
