{% extends "./index.html" %}
{% block header %}
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h2 class="text-center mb-4">Carrinho de Compras</h2>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
    <div class="container cart-container">
        <div id="cart-items">
            {% for item in cart_items %}
                <div class="cart-item">
                    <div class="row align-items-center">
                        <div class="col-md-2">
                            <img src="{{ item.imagem.url }}" alt="{{ item.nome }}">
                        </div>
                        <div class="col-md-4">
                            <h5>{{ item.nome }}</h5>
                            <p>{{ item.descricao }}</p>
                        </div>
                        <div class="col-md-2">${{ item.preco }}</div>
                        <div class="col-md-2">
                            <input type="number" class="form-control" value="{{ item.quantidade }}" onchange="updateTotal({{ item.id }})">
                        </div>
                        <div class="col-md-2">${{ item.preco|floatformat:"2" }}</div>
                        <div class="col-md-12 mt-2 text-right">
                            <form action="{% url 'marketplace:remover_item_carrinho' item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="cart-total text-right mt-4">
            Total: <span id="cart-total">${{ total_price }}</span>
        </div>
        <div class="text-center mt-4">
            <form method="post" action="{% url 'marketplace:comprar' %}">
    {% csrf_token %}
    <input type="hidden" name="total_price" value="{{ total_price }}">
    <button type="submit" class="btn btn-primary">Finalizar Compra</button>
</form>
        </div>
    </div>
{% endblock %}
