{% extends "./index.html" %}
{% load static %}
{% block body %}
    {% if request.user.is_authenticated %}

        <div class="container px-lg-5">

        <!-- Page Features-->
        <div class="row gx-lg-5">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% if user.userperfil.is_manager or request.user.is_staff %}
                {% if not user.loja_set.exists %} <!-- Verifica se não há nenhuma loja associada ao usuário -->

                    <a href="{% url 'marketplace:registo_loja' %}" class="btn btn-primary btn-sm">Registar Loja</a>
                {% endif %}
            {% endif %}

            {% for loja in lojas %}

                {% if request.user == loja.user or request.user.is_staff %}

                    <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <img src="{% static 'MarketPlace/midea/images/' %}{{ loja.imagem }}">
                            <form method="post" action="{% url 'marketplace:select_store' %}">
                                {% csrf_token %}

                                <input type="hidden" name="store_id" value="{{ loja.id }}">

                                <div class="feature  text-white rounded-3 mb-4 mt-n4">
                                    <button type="submit" class="btn bg-primary bg-gradient btn-sm">Ver</button>

                                </div>
                            </form>
                            <div class="mt-3">

                                <h2 class="fs-4 fw-bold">{{ loja.nome }}</h2>
                                <p class="mb-0">{{ loja.descricao }}</p>
                                <p class="mb-0">Contacto: {{ loja.telefone }}</p>
                                <p class="mb-0">Morada: {{ loja.endereco }}</p>
                                {% if loja.user == request.user %}
                                    <a class="btn bg-primary bg-gradient btn-sm"
                                       href="{% url 'marketplace:remover_loja' loja_id=loja.id %}">Remover
                                        Loja</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <form method="post" action="{% url 'marketplace:select_store' %}">
                                    {% csrf_token %}

                                    <input type="hidden" name="store_id" value="{{ loja.id }}">

                                    <div class="feature  text-white rounded-3 mb-4 mt-n4">
                                        <button type="submit" class="btn bg-primary bg-gradient btn-sm">Ver</button>

                                    </div>
                                </form>
                                <h2 class="fs-4 fw-bold">{{ loja.nome }}</h2>
                                <p class="mb-0">{{ loja.descricao }}</p>
                                {% if loja.user == request.user %}
                                    <p class="mb-0">A sua loja</p>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endif %}


            {% endfor %}
            </div>
        </div>


    {% else %}
        <div class="container px-lg-5">

            <!-- Page Features-->
            <div class="row gx-lg-5">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}



                {% for loja in lojas %}
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <form method="post" action="{% url 'marketplace:select_store' %}">
                                    {% csrf_token %}

                                    <input type="hidden" name="store_id" value="{{ loja.id }}">
                                    <div class="feature  text-white rounded-3 mb-4 mt-n4">
                                        <button type="submit" class="btn bg-primary bg-gradient btn-sm">Ver</button>

                                    </div>
                                </form>
                                <h2 class="fs-4 fw-bold">{{ loja.nome }}</h2>
                                <p class="mb-0">{{ loja.descricao }}</p>
                                {% if loja.user == request.user %}
                                    <p class="mb-0">A sua loja</p>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}

    <!-- Page Content-->



{% endblock %}



