<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketPlaceAPP</title>


    {% load static %}
   <link href="{% static 'MarketPlace/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Scripts JavaScript do Bootstrap (se necessário) -->
    <script src="{% static 'MarketPlace/js/bootstrap.bundle.min.js' %}"></script>
</head>


<body>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="{% url 'MarketPlaceAPP:home' %}">MarketPlaceAPP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page"
                                        href="{% url 'MarketPlaceAPP:home' %}">Home</a></li>
                {% block nav %}{% endblock %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"><i
                                class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'MarketPlaceAPP:perfil' %}"><i
                                class="fas fa-user fa-fw"></i></a></li>


                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'MarketPlaceAPP:dashboard' %}">Dashboard</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'MarketPlaceAPP:logout' %}">Logout</a></li>

                    </ul>
                </li>

            <li class=>
                <button class="btn btn-outline-light bg-gradientbtn-xs" type="submit">

                    <a class="navbar-text" href="{% url 'MarketPlaceAPP:carrinho' %}">  <i class="bi-cart-fill me-1"></i></a>

                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </li>
             </ul>

        </div>
    </div>
</nav>


<!-- Header-->
{% block header %}

    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">

                        {% if request.user.is_authenticated %}

                         <h1 class="display-5 fw-bold">Bem Vindo Ao MarketPlaceAPP {{ request.user.username }}!</h1>

                    <p class="fs-4">
                        Explore um mundo de produtos incríveis no nosso Marketplace! Registe-se agora para aceder a
                        uma ampla variedade de itens exclusivos. Se tem uma loja, junte-se a nós para alcançar uma
                        audiência global e aumentar as suas vendas. </p>
                    <a href="{% url 'marketplace:logout' %}">Logout</a>

                    {% else %}
                    <h1 class="display-5 fw-bold">Bem Vindo Ao MarketPlaceAPP!</h1>

                    <p class="fs-4">
                        Explore um mundo de produtos incríveis no nosso Marketplace! Registe-se agora para aceder a
                        uma ampla variedade de itens exclusivos. Se tem uma loja, junte-se a nós para alcançar uma
                        audiência global e aumentar as suas vendas. </p>
                            <a class="btn btn-primary btn-lg" href="{% url 'MarketPlaceAPP:login' %}">Login</a>

                        {% endif %}

                </div>
            </div>
        </div>
    </header>
{% endblock %}



<main>
    <section class="py-5">
        {% block body %}

        {% endblock %}
    </section>
</main>


<!-- Footer-->
<footer class="py-5 bg-dark navbar navbar-expand-lg">
    <div class="container">
        <ul>
            <li><a class="m-0  ms-auto nav-item text-center text-white" href="{% url 'MarketPlaceAPP:contact' %}">Contactos
            </a></li>
            <li>
                <p class="m-0  ms-auto  nav-item text-center text-white">&copy; 2024 MarketPlace. DIAM.</p>
            </li>

        </ul>
    </div>
</footer>
</body>

</html>
