{% extends "./index.html" %}
{% block header %}

<header>
    <div class="container  px-lg-5">
        <div class="card bg-light border-0 h-100">
            <h2 class="text-center mb-4">Login</h2>
            <form>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control textarea" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control textarea" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </form>
            <hr>
            <p class="text-center">Don't have an account? <a href="{% url 'MarketPlaceAPP:registo_user' %}" id="signup-link">Sign up as User</a></p>
            <p class="text-center">Don't have an account? <a href="{% url 'MarketPlaceAPP:registo_loja' %}" id="signup-link">Sign up as Manager</a></p>
            <p class="text-center">Don't have an account? <a href="{% url 'MarketPlaceAPP:registo_admin' %}" id="signup-link">Sign up as Admin</a></p>

        </div>
    </div>


</header>



{% endblock %}